Açaí do Nando
Endereço: Zulmiro Gomes da Silva, 828
Contato: +55 51 98529 9741

==================================
Id do Pedido: 186609834
Cliente: ORGANIZA TESTE
Contato: +5532995852546
Horário da Impressão: 13/11/2020 17:27:22
==================================
Tipo de Entrega: Retirada No Local
Forma de Pagamento: Cartão de débito ou crédito
Instruções de Entrega: Não Informado

==================================
Itens do Pedido:
|Qtd|Item             |Valor |
|1  |BARCA 1,5 LITRO  |50,00 |
|-->|Cobertura de cara|0,00  |
|-->|Cobertura de choc|0,00  |
|-->|Cobertura de mora|0,00  |
|-->|Coco ralado      |0,00  |


==================================
Total do Pedido: R$ 45,00

<JPR - Soluções Tecnológicas>
