<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <script>window.$ = window.jQuery = require('jquery');</script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>Pedido</title>

    <style type="text/css">
        table td:nth-child(3){
            font-weight: bold;
        }

        body {
            font-family:  "Arial", Helvetica, sans-serif;
        }

        table {
            font-size: 40px;
            color: black;
        }
        h1 {
            font-size: 50px;
            color: black;
        }
        h2, h3{
            font-size: 40px;
            color: black;
        }
        h5 {
            font-size: 30px;
            color: black;
        }
    </style>

</head>

<body>
<center>
    <h1 class="restaurant_name">Nikao Burger</h1>
    <h3 class="restaurant_street">Endereço: Rua Jovino Ribeiro, 145</h3>
    <h3 class="restaurant_phone">Contato: +55 33 99839 2353</h3>
</center>
<br><br><br>
<h2 class="id">Id do Pedido: 153713060</h2>
<h3 class="nomeCliente">Cliente: Rian Alves</h3>
<h3 class="client_phone">Contato: +552422542723</h3>
<br><br><br>
<h3 class="type">Tipo de Entrega: Retirada No Local</h3>
<h3>Forma de Pagamento: Cartão de débito ou crédito</h3>
<h3>Instruções de Entrega: Não Informado</h3>
<br><br><br>
<h3> Itens do Pedido: </h3>
<div class="table-responsive" id="table_space">
    <table class="table table-sm"><thead><tr><th>Qtd.</th><th>Item</th><th>Valor</th></tr><tr><td>1</td><td>SUCO DE LARANJA NATURAL </td><td>R$ 4,00</td></tr><tr><td>1</td><td>PIZZA MUÇARELA </td><td>R$ 19,00</td></tr><tr><td>1</td><td>X-BURGER </td><td>R$ 5,00</td></tr><tr><td></td><td>Grande</td><td>R$ 2,00</td></tr><tr><td></td><td>Catupiry</td><td>R$ 2,00</td></tr></thead></table>
</div>
<br>
<br>
<h1>Total do Pedido: R$ 32,00</h1>
<br>
<br>
<center><h5>JPR - Soluções Tecnológicas</h5></center>
</body>

</html>
